<extend name="Base/base" />
<block name="main">

    <div class="container-fluid">
        <notempty name="list">
            <volist name="list" id="document">
        <div class="blank"></div>
        <h3 class="noticeDetailTitle"><strong>{$document.title}</strong></h3>
        <div class="noticeDetailInfo">{$document.name}</div>
        <div class="noticeDetailInfo">{$document.create_time|date="y-m-d h:i:s",###}</div>
        <div class="noticeDetailContent">
            {$document.content}
        </div>
            </volist>
        </notempty>
    </div>
</block>