<extend name="Base/base" />
<block name="main">
  <section class="container-fluid">
    <h2>修改密码</h2>
	<div class="span12">
        <form class="login-form" action="__SELF__" method="post">
          <div class="control-group form-group">
            <label class="control-label" for="inputPassword">原密码</label>
            <div class="controls form-group">
              <input type="password" id="inputPassword"  class="span3 form-control" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="old">
            </div>
          </div>
          <div class="control-group form-group">
            <label class="control-label" for="inputPassword">新密码</label>
            <div class="controls form-group">
              <input type="password" id="inputPassword"  class="span3 form-control" placeholder="请输入密码"  errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">
            </div>
          </div>
          <div class="control-group form-group">
            <label class="control-label" for="inputPassword">确认密码</label>
            <div class="controls form-group">
              <input type="password" id="inputPassword" class="span3 form-control" placeholder="请再次输入密码" recheck="password" errormsg="您两次输入的密码不一致" nullmsg="请填确认密码" datatype="*" name="repassword">
            </div>
            <div class="controls Validform_checktip text-warning"></div>
          </div>
          <div class="control-group form-group">
            <div class="controls form-group">
              <button type="submit" class="btn btn-primary onlineBtn">提 交</button>
            </div>
          </div>
        </form>
	</div>
</section>
</block>
<block name="js_new">
	<script type="text/javascript">

    	$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});

    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    			}
    		}
    	});
	</script>
</block>
