<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>报修管理</h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('add','pid='.$pid)}">新 增</a>
        <a class="btn" href="javascript:;">删 除</a>
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>ID</th>
                <th>报修订单号</th>
                <th>报修人</th>
                <th>电话</th>
                <th>报修地址</th>
                <th>报修问题</th>
                <th>报修时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="PropertyRepair">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="" id="" value="{$PropertyRepair['id']}"> </td>
                        <td>{$PropertyRepair.id}</td>
                        <td>{$PropertyRepair.sn}</td>
                        <td>{$PropertyRepair.user}</td>
                        <td>{$PropertyRepair.tel}</td>
                        <td>{$PropertyRepair.address}</td>
                        <td>{$PropertyRepair.problem}</td>
                        <td>{$PropertyRepair.create_time|date="y-m-d h:i:s",###}</td>
                        <td>{$PropertyRepair['status']?'处理完成':'处理中'}</td>
                        <td>
                            <a title="编辑" href="{:U('edit?id='.$PropertyRepair['id'])}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$PropertyRepair['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
</block>